#stereoFixer { 
   	/*float: right !important;*/
    position: absolute; /*Added this for new youtube*/
    right: 0; /*just like float:right with absolute positioning*/
    background: white;
    font-size: 11px;
    color: black !important;
    height: 18px;
    padding-left: 5px;
    padding-right: 0px; /*prevousily 5px*/
    font-family: Arial;
  /*  border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #aaa;
    border-top-width: 0;
    z-index: 1000; */
}


#stereoFixer .text {
	position: relative;
    font-weight: bold;
  	vertical-align: middle;
  	left: 0%; /*prevouisly 2% */
  /*  text-shadow: white 0px 1px 8px; */

    display: inline-block;
}

input[type="checkbox"] {
	position: relative;
	vertical-align: middle;
	left: 0%;
	bottom: 0%;
	zoom:0.8; /*scaling to proper size without transform: scale(0.8) --> blurr*/
}


input[type="range"] {
	position: relative;
	vertical-align: middle;
	left: 0%;
	bottom: 5%; /*prevouisly 2% top*/
	zoom:0.8; 
}
input[type="number"] {
	position: relative;
	vertical-align: middle;
	left: 0%;
	top: 0%; /*10 prevouisly*/
  /*bottom: 40%; disable the 2 above if u want this to work in ytp-controls*/
  width: 37px;
	zoom:0.8; 
  border: none;
}
